@use "@/styles/mixin.scss" as *;

.requestButton {
  a,
  button {
    display: block;
    overflow: hidden;
    width: rem(230);
    position: relative;
    transition: all 0.5s;
    border-radius: rem(24);
    @media (max-width: rem(992)) {
    }
    &:hover {
      border-radius: rem(8);
      > div {
        left: 0;
        svg {
          border-radius: rem(8);
        }
        span {
        }
      }
    }
    > div {
      position: relative;
      left: -66px;
      display: flex;
      width: rem(280);
      transition: all 0.5s;
      svg {
        transition: all 0.5s;
        border-radius: rem(27);
      }
      > .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(56);
        height: rem(56);
        background: #ffffff;
        border-radius: 50%;
        margin-right: rem(10);
        svg {
          path {
            fill: #000;
          }
        }
      }
      .circleTransparent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(56);
        height: rem(56);
      }
      > span {
        display: flex;
        align-items: center;
        gap: rem(8);
        color: #fff;
        font-size: rem(24);
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        transition: all 0.5s;
        justify-content: center;
      }
    }
  }
}
